.aupiciantes {
  padding: 10px;
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  background-color: var(--primary-color);
  border-radius: 10px;
}
.galery img {
  max-width: 100%;
  margin-bottom: 1em;
}
.galery img {
  width: 140px;
}

.galery {
  /* padding: 10px; */
  columns: 6 1050px;
  column-gap: 1em;
}
